<h1>View Movie: <%= @movie.title %></h1>

<p>
  <strong>Year:</strong> <%= @movie.year %>
</p>

<p>
  <strong>Cast:</strong>
  <ul>
  <% @movie.actors.each do |actor| %>
    <li><%= link_to actor.name, actor_path(actor) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %><br/>
<%= link_to 'Delete', movie_path(@movie),
            method: :delete,
            data: { confirm: "Are you sure you wish to delete the movie '#{@movie.title}?'" } %><br/>
<%= link_to 'Back', movies_path %>