<!DOCTYPE html>
<html>
  <head>
    <title>Movies App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="top_menu">
      <%= link_to 'Movies', movies_path %> |
      <%= link_to 'Actors', actors_path %> |
      <%= link_to 'API (Swagger)', "/api/swagger?url=/api/swagger_doc.json" %>
    </div>
    <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
  </body>
</html>
